


    <div class="container-fluid">
      <div class="col">
        <h2><%= @product.name %></h2>

          <h5><%= @product.description %></h5>
          <h6>Color: <%= @product.color %></h6>
          <strong>$<%= @product.price %></strong>
          <div><%= image_tag(@product.image_url, class: "img-responsive", size: "200x150") %></div>

     </div>
    </div>
